@model IEnumerable<Wholesale_Marketplace.Models.Item>
@using Wholesale_Marketplace.Controllers;
@using Wholesale_Marketplace.Models

@{
    ViewBag.Title = "Search";
    if (ViewBag.RoleID == 0) { Layout = "~/Views/Shared/BuyerLayout.cshtml";}
    if (ViewBag.RoleID == 1) { Layout = "~/Views/Shared/SellerLayout.cshtml"; }
}

<script>
    var pageNext = 0;

    var search_keywordsCur = "@ViewBag.search_keywords";
    var sortCur = @ViewBag.sort;
    var price_minCur = @ViewBag.price_min;
    var price_maxCur = @ViewBag.price_max;
    var good_sellersCur = @ViewBag.good_sellers;
    var categoryCur = @ViewBag.category;


    var SearchAgain = function() {
        $.get("Search", { search_keywords: "" + search_keywordsCur, page: 0, sort: sortCur,
            price_min: price_minCur, price_max: price_maxCur, good_sellers: good_sellersCur,
            category: categoryCur, part_page: 1},
                    function (data, textStatus, jqXHR) {
                        $("#SearchResults").html(data);
                    });
        pageNext = 0;
    }

    var NextPage = function() {
        pageNext++;
        $.get("Search", { search_keywords: "" + search_keywordsCur, page: pageNext, sort: sortCur,
            price_min: price_minCur, price_max: price_maxCur, good_sellers: good_sellersCur,
            category: categoryCur, part_page: 1},
            function (data, textStatus, jqXHR) {
                $("#SearchResults").append(data);
            });
    }


    $("#SrchKwrds").val(search_keywordsCur);

    $("#BtnSrch").click(function(e) {
        search_keywordsCur = $("#SrchKwrds").val();
        price_minCur = $("#InpPriceMin").val();
        price_maxCur = ($("#InpPriceMax").val()=="")?Number.MAX_VALUE:$("#InpPriceMax").val();
        good_sellersCur = ($("#InpGoodSellers")[0].checked)?1:0;
        categoryCur = $("#CategorySelect").val();
        SearchAgain();
    });

    $("#BtnSrch").attr({type: "button"});



</script>
<div class="field-main" style="padding-left:2.5em">
    <div class="row">
        <div class="col-md-4">
            <div class="field-in" style="margin-top:0.5em; margin-left:0em; margin-right:1em; padding-top:1em">
                <div class="row h4" style="padding-bottom:1em; margin-bottom:1em; border-bottom: 1px solid lightgray"><b>Категория:</b></div>
                <select id="CategorySelect" size="4" name="category" class="form-control" style="height:20em; overflow:hidden;">
                    <option value="-1" hidden selected></option>
                    @foreach (Item_category cat in ViewBag.Categories)
                    {
                        <option value="@cat.CategoryID" style="padding:0.5em">@cat.Name</option>
                    }
                    <option value="7" style="padding:0.5em">777</option>
                </select>

                <div class="row h4" style="padding-bottom:0.5em; margin-bottom:0.5em; padding-top:0.5em; margin-top:2em; border-bottom: 1px solid lightgray; border-top:1px solid lightgray;"><b>Цена:</b></div>
                <div class="row">Мин:<input type="text" value="@ViewBag.price_min" id="InpPriceMin" class="form-control" /></div>
                <div class="row" style="margin-top:0.5em">Макс:<input type="text" value="" id="InpPriceMax" class="form-control"></div>
                <div class="row" style="padding-top:2em; margin-top:3em; border-top:1px solid lightgray;"><label class="checkbox"><input type="checkbox" id="InpGoodSellers" />Провереные продавцы</label></div>
                <div class="row" style="margin-bottom:2em; margin-top:0em; "><label class="checkbox"><input type="checkbox" id="FreeShipping" />Бесплатная доставка</label></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row field-in" style="padding-top:0.5em; padding-bottom:0.5em; margin-top:0.5em">По запросу <b id="SrchKwrdsInfo">@ViewBag.search_keywords</b> найдено <b id="SrchCnt">@ViewBag.FoundCount</b> товаров</div>
            <div class="row field-in" style="padding-top:0.5em; padding-bottom:0.5em; margin-top:0.5em; margin-bottom:0.5em; ">
                Сортировка по
                <a onclick="sortCur=0; SearchAgain();" style="border-right:1px solid lightgray; margin-right:0.5em; margin-right:0.5em">цена /\ </a>
                <a onclick="sortCur=1; SearchAgain();" style="border-right:1px solid lightgray; margin-right:0.5em; margin-right:0.5em">цена \/ </a>
                <a onclick="sortCur=2; SearchAgain();" style="border-right:1px solid lightgray; margin-right:0.5em; margin-right:0.5em">рейтинг </a>
                <a onclick="sortCur=3; SearchAgain();" style="border-right:1px solid lightgray; margin-right:0.5em; margin-right:0.5em">заказы </a>
                <a onclick="sortCur=4; SearchAgain();" style="border-right:1px solid lightgray; margin-right:0.5em; margin-right:0.5em">дата \/ </a>
                <a onclick="sortCur=5; SearchAgain();">дата /\ </a>
            </div>
            <div id="SearchResults">
                @{Html.RenderPartial("SearchPart", Model);}
            </div>
            <div class="row"><a class="btn btn-default btn-block" onclick="NextPage();">Показать ещё</a></div>
        </div>
    </div>
</div>