@model Wholesale_Marketplace.Models.Item
@using Wholesale_Marketplace.Models


@{
    ViewBag.Title = Model.Name;
    if (ViewBag.RoleID == 0) { Layout = "~/Views/Shared/BuyerLayout.cshtml"; }
}

<div class="field-main">
    <div class="row" style="padding-left:1em">
        <div class="col-md-8">

            <div class="row">
                <a href="/Item/Search?StoreID=@Model.StoreID" style="text-decoration:none; color:black"><h3><b>@Model.Store.Name</b></h3></a>
            </div>
            <div class="row">
                <div class="col-md-2" style="padding-left:0px">@Helpers.Stars(Convert.ToInt32(Model.Store.Average_mark))</div>
                <div class="col-md-2">@Model.Store.Orders_count заказов</div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <div style="margin-top:1.5em">
                <a href="/Dialog/CreateDialogForItem?itemID=@Model.ItemID" class="btn btn-default btn-block btn-lg" role="button">Написать продавцу</a>
            </div>
        </div>
    </div>

    
    <form action="/Order/Confirm" method="post" class="field-in" style="padding-top:1em; margin-top:2em; margin-bottom:2em">
        <div class="row">
            <div class="col-md-3" style="margin-top:1em">
                <div class="row"><img class="img-responsive img-rounded" id="MainImg" src="~/Item/Photo?id=@((Model.Pictures.Count>0) ? (Model.Pictures.First().PictureID) : -1)"></div>
            </div>
            <div class="col-md-8" style="margin-left:1em">
                <div class="row" style="border-bottom:1px solid lightgray">
                    <div class="col-md-4" style="margin-top:0.5em">Товар:</div>
                    <div class="col-md-6"><h4><b>@Model.Name</b></h4></div>
                </div>
                <input type="number" name="ItemID" value="@Model.ItemID" hidden />
                <div class="row" style="margin-bottom:1em; margin-top:1em">
                    <div class="col-md-4">Цена:</div>
                    <div class="col-md-6">@Model.Price руб</div>
                </div>
                <div class="row" style="margin-bottom:1em">
                    <div class="col-md-4">Количество:</div>
                    <div class="col-md-6"><input type="number" name="Amount" class="form-control" value="1" min="1" max="@Model.Left_goods_count" id="amount" onclick="$('#total').html($('#amount').val()*@Model.Price);" /></div>
                </div>

                <div class="row" style="margin-bottom:1em">
                    <div class="col-md-4">Доставка:</div>

                    <div class="col-md-6">
                        <select name="ShippingID" class="form-control" style=" overflow:hidden; height:2.5em" required>
                            @foreach (Shipping_type ship in ViewBag.ShippingTypes)
                            {
                                <option value="@ship.ShippingID" style="padding:0.5em"> @ship.Name </option>
                            }
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4" style="margin-top:0.5em">Стоимость:</div>
                    <div class="col-md-6"><h4><b><span id="total">@Model.Price</span> руб</b></h4></div>
                </div>

            </div>
        </div>



        <div class="row" style="margin-top:4em; margin-bottom:1em">
            <div class="col-md-5">
                <div class="row">Адрес:</div>
                <div class="row" style="margin-bottom:1em"><textarea class="form-control" name="Address" rows="10" placeholder="Введите текст" style="resize:none">@ViewBag.Address</textarea></div>
            </div>
            <div class="col-md-offset-1 col-md-5">
                <div class="row">Информация для продавца: </div>
                <div class="row" style="margin-bottom:1em"><textarea class="form-control" name="ForSellerInfo" placeholder="Введите текст" rows="10" style="resize:none"></textarea></div>
            </div>
            <div class="row" style="margin-top:2em; margin-left:0.3em"><input type="submit" class="btn btn-primary btn-lg" value="Подтвердить заказ" /></div>
        </div>


    </form>


    
</div>