@model Wholesale_Marketplace.Models.Order
@using Wholesale_Marketplace.Models


@{
    ViewBag.Title = "Оплата " + Model.OrderID;
    if (ViewBag.RoleID == 0) { Layout = "~/Views/Shared/BuyerLayout.cshtml"; }
}

<div class="field-main">
    <div class="row" style="padding-left:1em">
        <div class="col-md-8">

            <div class="row">
                <h3><b>@Model.Item.Store.Name</b></h3>
            </div>
            <div class="row">
                <div class="col-md-2" style="padding-left:0px">@Helpers.Stars(Convert.ToInt32(Model.Item.Store.Average_mark))</div>
                <div class="col-md-2">@Model.Item.Store.Orders_count заказов</div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <div style="margin-top:1.5em">
                <a href="/Dialog/CreateDialogForOrder?orderID=@Model.OrderID" class="btn btn-default btn-block btn-lg" role="button">Написать продавцу</a>
            </div>
        </div>
    </div>


    <div style="margin-top:2em">
        <div class="row"><div class="col-md-12"><h4 style="border-top: 1px solid lightgray; padding-top:1em; border-bottom: 1px solid lightgray; padding-bottom:1em"><b>Подтвердите данные заказа:</b></h4></div></div>
        <div class="row h4" style="margin-top:1em">
            <div class="col-md-4">Товар:</div>
            <div class="col-md-6">@Model.Item.Name</div>
        </div>
        <div class="row">
            <div class="col-md-4">Количество:</div>
            <div class="col-md-6">@Model.Amount шт</div>
        </div>
        <div class="row">
            <div class="col-md-4">Способ доставки:</div>
            <div class="col-md-6">@Model.Shipping_type.Name</div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top:1em">Адрес доставки:</div>
        </div>
        <div class="row">
            <div class="col-md-12"><i>@Model.Address</i></div>
        </div>
        <div class="row h4" style="border-top: 1px solid lightgray; padding-top:1em; margin-top:1em">
            <div class="col-md-4"><b>Общая стоимость:</b></div>
            <div class="col-md-6"><b>@Model.Total_price руб</b></div>
        </div>
    </div>

    <div class="row" style="margin-bottom:1em; margin-top:2em">
        <div class="col-md-3">
            <form action="/Order/Pay" method="post">


                <input type="number" name="MakePayment" value="1" hidden />
                <input type="number" name="id" value="@Model.OrderID" hidden />
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Оплатить" />

            </form>
        </div>
    </div>
    </div>