@model Wholesale_Marketplace.Models.Order
@using Wholesale_Marketplace.Models


@{
    ViewBag.Title = "Отзыв " + Model.OrderID;
    if (ViewBag.RoleID == 0) { Layout = "~/Views/Shared/BuyerLayout.cshtml"; }
}


<div class="field-main">
    <div class="row" style="padding-left:1em">
        <div class="col-md-8">

            <div class="row">
                <h3><b>@Model.Item.Store.Name</b></h3>
            </div>
            <div class="row">
                <div class="col-md-2" style="padding-left:0px">@Helpers.Stars(Convert.ToInt32(Model.Item.Store.Average_mark))</div>
                <div class="col-md-2">@Model.Item.Store.Orders_count заказов</div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <div style="margin-top:1.5em">
                <a href="/Home/Index" class="btn btn-default btn-block btn-lg" role="button">Написать продавцу</a>
            </div>
        </div>
    </div>

    <div class="row field-in" style="padding-top:1em; margin-top:2em; margin-bottom:2em">
        <h3 style="margin-bottom:1em"><b>Информация о заказе:</b></h3>
        <div class="row">
            <div class="col-md-4" style="margin-top:1em">
                <img class=" img-rounded img-responsive" id="MainImg" src="~/Item/Photo?id=@((Model.Item.Pictures.Count > 0) ? (Model.Item.Pictures.First().PictureID) : -1)">
            </div>
            <div class="col-md-8">
                <div class="row" style="border-bottom: 1px solid lightgray; margin-bottom:0.5em"><div class="col-md-12"><h3><b><a href="/Item/Info?id=@Model.ItemID" style="text-decoration:none; color:black">@Model.Item.Name</a></b></h3></div></div>
                <div class="row">
                    <div class="col-md-4">Номер заказа:</div>
                    <div class="col-md-6">@Model.OrderID</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Количество:</div>
                    <div class="col-md-6">@Model.Amount шт</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Способ доставки:</div>
                    <div class="col-md-6">@Model.Shipping_type.Name</div>
                </div>
                <div class="row">
                    <div class="col-md-4"><b>Общая стоимость:</b></div>
                    <div class="col-md-6"><b>@Model.Total_price руб</b></div>
                </div>
                <div class="row" style="margin-top:1em">
                    <div class="col-md-4">Статус:</div>
                    <div class="col-md-6"><b>@Model.Order_status.Name</b></div>
                </div>
                <div class="row">
                    <div class="col-md-4">Дата оформления:</div>
                    <div class="col-md-6">@Model.Open_date</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Дата получения:</div>
                    <div class="col-md-6">@Model.Close_date</div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:3em">
            <form action="/Order/Review" method="post">
                <input type="number" name="id" value="@Model.OrderID" hidden />

                <div class="row" style="margin-bottom:1em; border-bottom:1px solid lightgray; border-top:1px solid lightgray;"><div class="col-md-offset-3 col-md-8"><h4><b>Оцените качество товара и обслуживания:</b></h4></div></div>
                <div class="row">
                    <div class="col-md-offset-4 col-md-6">
                        <div class="row"><input  type="radio" name="Mark" value="0" required /> @Helpers.Stars(0) Ужасно</div>
                        <div class="row"><input type="radio" name="Mark" value="1" required /> @Helpers.Stars(1) Плохо</div>
                        <div class="row"><input type="radio" name="Mark" value="2" required /> @Helpers.Stars(2) Удовлетворительно</div>
                        <div class="row"><input type="radio" name="Mark" value="3" required /> @Helpers.Stars(3) Нормально</div>
                        <div class="row"><input type="radio" name="Mark" value="4" required /> @Helpers.Stars(4) Хорошо</div>
                        <div class="row"><input type="radio" name="Mark" value="5" required /> @Helpers.Stars(5) Отлично</div>
                        
                    </div>
                </div>
                <div class="row " style="margin-top:2em; margin-bottom:1em"><div class="col-md-offset-4 col-md-2"><input type="submit" class="btn btn-primary btn-block" value="Оценить" /></div></div>
        
        </form>
    </div>
    </div>
</div>