@using Wholesale_Marketplace.Models

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Wholesale Marketplace</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body style="background-color:#e2f9dc">
    <div class="container">
        <div class="field" style="margin-bottom:0.5em">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="/Home/">
                                <img src="~/Content/logo.jpg" class="img-rounded" style="width:87px; height:55px; margin-top:0.1em" />
                            </a>
                        </div>
                        <div class="col-md-9" style="white-space: nowrap;">
                            <a href="/Home/" style="text-decoration:none; color:black"><p class="h2"><b>Wholesale Marketplace</b></p></a>
                            <p class="h5">Buy and sell everythink fast and free</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row" style="padding-bottom:1em"><div class="col-md-offset-6 col-md-6">Покупатель:<b style="margin-left:2.7em">@ViewBag.Login</b></div></div>
                    <div class="row">
                       <div class="col-md-3">
                            <a href="/Buyer/Orders" class="btn btn-default btn-block" role="button">Заказы</a>
                        </div>
                        <div class="col-md-3">
                            <a href="/Buyer/Dialogs" class="btn btn-default btn-block" role="button">Диалоги</a>
                        </div>
                        <div class="col-md-3">
                            <a href="/Account/AddInfoBuyer" class="btn btn-default btn-block" role="button">Настройки</a>
                        </div>
                        <div class="col-md-1">
                            <a href="/Help/Show" class="btn btn-default " role="button"><span class="glyphicon glyphicon-question-sign"></span></a>
                        </div>
                        <div class="col-md-1">
                            <a href="/Account/Logout" class="btn btn-default " role="button"><span class="glyphicon glyphicon-log-out"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <img class="img-responsive img-rounded" src="/Account/Avatar?UserID=@ViewBag.UserID" />
                </div>
            </div>
        </div>
        <div class="field">
            <div class="row">
                <div class="col-md-3">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width:130%">
                            Категория товара <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            @foreach (Item_category cat in ViewBag.Categories)
                            {
                                <li><a href="/Item/Search?category=@cat.CategoryID">@cat.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>

                <form action="/Item/Search" method="post" class="form-inline">
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="search_keywords" id="SrchKwrds" placeholder="Поиск по товарам" />
                    </div>
                    <div class="col-md-1">
                        <input type="submit" class="btn btn-default btn-block" id="BtnSrch" value="Поиск" />
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top:1em">
        @RenderBody()
    </div>
    <div align="center" style="padding-top:3em">
        <small>
            <p>&copy; @DateTime.Now.Year – Wholesale Marketplace </p>
            <p> <a href="mailto:max@pochtamt.ru">Contact us</a></p>
        </small>

    </div>
</body>
</html>
