@using Wholesale_Marketplace.Models
@model Wholesale_Marketplace.Models.Buyer
@{

    Layout = "~/Views/Shared/BuyerLayout.cshtml";
    ViewBag.Title = "Ввод сведений о покупателе";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="field-big">
            <h3><b>Введите личные данные</b></h3>
            <br />
            @using (Html.BeginForm("AddInfoBuyer", "Account", null, FormMethod.Post, new { enctype = "multipart/form-data" })) 
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, "ФИО")
                    <br />
                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", placeholder = Model.Name } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address, "Адрес")
                    <br />
                    @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control", placeholder = Model.Address } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Avatar, "Аватар")
                    <br />
                    <input type="file" id="Avatar" name="Avatar" />
                </div>
                <br />
                <input type="submit" class="btn btn-primary" value="Сохранить" formaction="AddInfoBuyer"/>
            }
        </div>
    </div>
</div>
