@model IEnumerable<Wholesale_Marketplace.Models.Message>
@using Wholesale_Marketplace.Models
@using System.Linq


@foreach (Message item in Model)
{
    
        if (item.User.Role.RoleID == 1)
        {
            <div class="col-md-offset-2 col-md-10">
                <div class="row field-in" style="background-color:lavender; padding-bottom:0px; margin-bottom:5px">
                    <div class="row"><b>@item.User.Login</b> <small>@item.Post_date</small></div>
                    <div class="row"><i>@item.Text</i></div>
                    @if (item.Pictures.Count > 0)
                    {
                        <div class="row"><img style="max-height:100px" class="img-thumbnail" src="/Dialog/GetImage?id=@item.Pictures.First().PictureID" onclick="window.open('/Dialog/GetImage?id=@item.Pictures.First().PictureID')" /></div>
                    }
                </div>
            </div>
        }
        else if (item.User.RoleID == 0)
        {
                <div class="col-md-10">
                    <div class="row field-in" style="background-color:lavender; padding-bottom:0px; margin-bottom:5px">
                        <div class="row"><b>@item.User.Login</b> <small>@item.Post_date</small></div>
                        <div class="row"><i>@item.Text</i></div>
                        @if (item.Pictures.Count > 0)
                {
                            <div class="row"><img style="max-height:100px" class="img-thumbnail" src="/Dialog/GetImage?id=@item.Pictures.First().PictureID" onclick="window.open('/Dialog/GetImage?id=@item.Pictures.First().PictureID')" /></div>
                }
                    </div>
                </div>
        }
        
    
}
