@model Wholesale_Marketplace.Models.Dialog_dispute
@using Wholesale_Marketplace.Models

@{
    ViewBag.Title = "Диалог";
    if (ViewBag.RoleID == 0) { Layout = "~/Views/Shared/BuyerLayout.cshtml"; }
}


<script>
    var CheckMessages = function () {
        $.post("ShowNewMessages", {id: @Model.DisputeID, lastTime: lastTimeCheck}, function(data, textStatus, jqXHR) {
            $("#messagesContainer").append(data);
            lastTimeCheck = Date.now();
        })
    }
    var lastTimeCheck = 0;

    $(document).ready(function () {
        CheckMessages();
        setInterval(CheckMessages, 1000);

        $("#postMessageForm").submit(function() {

            var formData = new FormData($(this)[0]);

            $.ajax({
                url: "/Dialog/PostMessage",
                type: "POST",
                data: formData,
                async: false,
                success: null,
                cache: false,
                contentType: false,
                processData: false

            })

            //$.post("/Dialog/PostMessage", { Text: $("#postMessageText")[0].value, DisputeID: @Model.DisputeID }, function(){});


            $("#postMessageText")[0].value = "";
            return false;
        })
    })
</script>

<div class="field-main">
    <div class="col-md-8">
        @if (Model.Item != null)
        {
            <div class="row" style="padding-left:1em">
                <div class="row">
                    <h3><b>@Model.Item.Store.Name</b></h3>
                </div>
                <div class="row">
                    <div class="col-md-2" style="padding-left:0px">@Helpers.Stars(Convert.ToInt32(Model.Item.Store.Average_mark))</div>
                    <div class="col-md-2">@Model.Item.Store.Orders_count заказов</div>
                </div>
            </div>
        }
        
        <div class="row" id="messagesContainer">

        </div>
        <div class="row">
            <form action="PostMessage" method="post" id="postMessageForm">
                <input type="number" name="DisputeID" value="@Model.DisputeID"  style="display:none"/>
                <div class="row"><input type="text" name="Text" value=" " id="postMessageText"/></div>
                <div class="row">
                    <input type="submit" class="btn btn-primary" value="Отправить" />
                    <input type="file" name="messageImage" value=" " />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        @if (Model.Order != null)
        {
            <div class="row">@Model.Order.Item.Name</div>
            <div class="row"><img class=" img-rounded" id="MainImg" src="~/Item/Photo?id=@((Model.Order.Item.Pictures.Count > 0) ? (Model.Order.Item.Pictures.First().PictureID) : -1)" style=" max-height:100px"></div>
            <div class="row"><a href="/Order/Info?id=@Model.Order.OrderID" role="button" class="btn btn-default">Посмотреть заказ</a></div>
            <div class="row">   </div>
        }
        @if (Model.Item != null)
        {
            <div class="row">@Model.Item.Name</div>
            <div class="row"><img class=" img-rounded" id="MainImg" src="~/Item/Photo?id=@((Model.Item.Pictures.Count > 0) ? (Model.Item.Pictures.First().PictureID) : -1)" style=" max-height:100px"></div>
            <div class="row"><a href="/Item/Info?id=@Model.Item.ItemID" role="button" class="btn btn-default">Посмотреть товар</a></div>
            <div class="row">   </div>
        }
        @if (Model.IsDispute)
        {
            <div class="row">@Model.DisputeState.Name</div>
            <div class="row">@Model.RefundValue руб</div>
            <div class="row"><a href="/Dispute/Agree?id=@Model.DisputeID" role="button" class="btn btn-default">Согласиться</a></div>
            <form action="/Dispute/ChangeSolution" method="post">
                <input type="number" name="id" value="@Model.DisputeID" style="display:none"/>
                <input type="number" name="refundValue" value="0" />
                <select name="disputeState" class="form-control"  required>
                    @foreach (DisputeState state in ViewBag.DisputeStates)
                    {
                        <option value="@state.DisputeStateID" style="padding:0.5em"> @state.Name </option>
                    }
                </select>
                <div class="row"><input type="submit" class="btn btn-primary" value="Предложить" /></div>
            </form>
        }
    </div>  
</div>

